@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,800;1,800&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: white;
    font-size: 16px;
    background: black;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.wrapper {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(74, 40, 0, 1) 100%);
    width: 100%;
    overflow-x: hidden;
}

.container {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
}

header {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

header .logo,
footer .blocks .logo {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

header nav {
    width: auto;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 90px;
}

header nav ul li a {
    color: white;
}

header nav ul li.active::after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background: #DC7000;
    border-radius: 10px;
    margin-top: 8px;
}

header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 5px solid #DC7000;
}

header nav ul li.btn a,
.email .block button {
    background: #FA9021;
    padding: 9px 17px;
    border-radius: 5px;
    transition: 0.3s;
}

header nav ul li.btn a:hover,
.email .block button:hover {
    background: #502a01;
}

.hero {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    gap: 40px;
}

.hero--info {
    max-width: 530px;
    padding-top: 70px;
}

.hero--info h2 {
    color: #E87D0E;
    font-size: 20px;
    font-weight: 600;
}

.hero--info h1 {
    font-size: 50px;
    font-weight: 600;
}

.hero--info p {
    font-weight: 500;
    line-height: 170%;
    margin: 30px 0;
}

.hero--info .btn,
.hero-about .info .btn {
    background: linear-gradient(180deg, rgba(250, 131, 5, 1) 0%, rgba(251, 158, 60, 1) 100%);
    color: white;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transition: 0.3s;
    font-size: 17px;
}

.hero--info .btn:hover,
.hero-about .info .btn:hover {
    transform: scale(1.05);
}

.hero img {
    align-self: flex-start;
    margin-right: 30px;
    max-width: 750px;
    width: 100%;
    transform: translateY(-150px);
    pointer-events: none;
}

.trending {
    padding-top: 50px;
}

.trending h3 {
    font-weight: 600;
    font-size: 31px;
}

.trending .see--all,
.projects .see--all {
    display: block;
    width: fit-content;
    margin: 30px auto 0;
    text-align: center;

    color: white;
    background: #000;
    border-radius: 5px;
    padding: 12px 30px;
    transition: 0.3s;
}

.trending .see--all:hover,
.projects .see--all:hover {
    transform: scale(1.05);
}

.trending .games {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    gap: 20px;
}

.big--text {
    padding: 50px 0;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.banner {
    padding: 100px 0;     
}

.banner h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 25px;
}

.banner p {
    max-width: 600px;      
    line-height: 170%;
    margin-bottom: 40px;
}

.banner img {
    width: 100%;
    max-width: 1100px;     
    border-radius: 12px;
    display: block;
    margin: 40px auto 0;
}

.features {
    background: url(../img/features-background.png) no-repeat center center fixed;
    background-size: cover;
    padding: 80px 0;
}

.features h3,
.features p {
    text-align: center;
    max-width: 800px;
    margin: 0 auto 20px;
}

.features .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.features .info .block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.features .info .block img {
    margin-bottom: 15px;
}

.features .info .block .arrow {
    margin-top: 15px;
}

.projects {
    font-size: 17px;
    text-align: center;
    margin: 100px auto;
}

.projects p {
    max-width: 600px;
    margin: 20px auto 60px;
}

.projects .images {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.projects .see--all {
    display: block;
    width: fit-content;
    margin: 30px auto 0;
}

.email {
    padding-bottom: 120px;
}

.email h3 {
    margin-top: 60px;
    font-size: 30px;
}

.email .block {
    background: #1C140F;
    margin-top: 30px;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.email h4 {
    font-size: 30px;
    font-weight: 500;
}

.email .block p {
    max-width: 500px;
}

.email .block form {
    position: relative;
    width: 100%;
    max-width: 500px;
}

.email .block input {
    width: 100%;
    padding: 20px 140px 20px 25px;
    border-radius: 8px;
    border: 0;
    outline: none;
}

.email .block button {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    padding: 12px 22px;
    border-radius: 6px;
    border: 0;
    cursor: pointer;
    background: #FA9021;  
    color: white;
    z-index: 2;           
}

.work {
    padding: 80px 0;
}

.work .blocks {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.work .blocks .block {
    width: 280px;
    border-radius: 10px;
    padding: 40px 30px;
    background: #1C140F;
}

.feedback {
    padding: 70px 0;
    background: rgba(28, 20, 15, 1);
}

.feedback form {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

footer {
    background: black;
    padding: 50px 0;
}

footer .blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

footer > p {
    text-align: center;
}

@media (max-width: 992px) {

    header {
        flex-direction: column;
        gap: 20px;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    .hero {
    flex-direction: column;   
    align-items: center;
    text-align: center;
    }

    .hero img {
        align-self: center;      
        margin: 150px auto 0;    
        margin-right: 0;        
        max-width: 280px;        
        width: 100%;
    }

    .hero--info {
        padding-top: 0;
    }

    .trending .games {
        flex-direction: column;
        align-items: center;
    }

    .features .info .block {
        width: 100%;
        max-width: 300px;
    }

    .email .block {
        flex-direction: column;
        text-align: center;
    }

    .work .blocks {
        flex-direction: column;
        align-items: center;
    }

    footer .blocks {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero-about {
    flex-direction: column;
    text-align: center;
    }

    .hero-about img {
    margin-top: 40px;
    max-width: 300px;
    }

    .feedback form .inline {
    flex-direction: column;
    }
}

.hero-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding: 120px 0;
}

.hero-about .info {
    max-width: 500px;
}

.hero-about h1 {
    font-size: 40px;
    margin: 20px 0;
}

.hero-about .info p:first-of-type {
    margin-bottom: 30px;
    font-size: 16px;
}

.hero-about .info .btn {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 17px;
    border-radius: 50px;
    display: inline-block;
}

.hero-about img {
    max-width: 600px;
    width: 100%;
}

.hero-contacts {
    padding: 120px 0;
    text-align: center;
}

.hero-contacts h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero-contacts img {
    max-width: 900px;
    width: 100%;
    margin: 60px auto 0;
}

.work {
    padding: 80px 0;
}

.work h2 {
    font-size: 25px;
    margin-bottom: 80px;
}

.work .blocks {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.work .blocks .block {
    flex: 1 1 30%;
    min-width: 280px;
    border-radius: 10px;
    padding: 50px 35px;
    background: #1C140F;
}

.work .blocks .block h3 {
    font-size: 20px;
    margin: 20px 0;
}

.work .blocks .block .badge {
    display: inline-block;
    border-radius: 7px;
    padding: 10px 20px;
}

.work .blocks .block .badge.purple {
    background: rgba(220, 0, 198, 0.11);
}

.work .blocks .block .badge.brown {
    background: rgba(220, 66, 0, 0.11);
}

.work .blocks .block .badge.green {
    background: rgba(0, 220, 141, 0.11);
}

.feedback {
    padding: 70px 0;
    background: rgba(28, 20, 15, 1);
}

.feedback h2 {
    text-align: center;
    font-weight: 500;
    font-size: 30px;
}

.feedback p {
    text-align: center;
    margin-top: 10px;
}

.feedback form {
    max-width: 600px;
    width: 100%;
    margin: 60px auto 0;
}

.feedback form .inline {
    display: flex;
    gap: 20px;
}

.feedback form .inline > div {
    flex: 1;
}

.feedback form label {
    color: #4F4F4F;
    font-size: 14px;
}

.feedback form input,
.feedback form textarea {
    background: rgba(255, 255, 255, 0.07);
    border-radius: 10px;
    border: 0.6px solid rgba(206, 206, 206, 1);
    width: 100%;
    padding: 12px 15px;
    outline: none;
    color: white;
    margin-top: 7px;
    margin-bottom: 20px;
}

.feedback form textarea {
    resize: none;
    height: 200px;
}

.feedback form button {
    background: #DC7000;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    padding: 15px 35px;
    transition: 0.3s;
}

.feedback form button:hover {
    background: #a94e00;
}